.cards__holder {
    display: flex;
    justify-content: center;
}

.card{
    width: 348px;
    height: 328px;
    text-align: center;
    box-shadow: 10px 10px 40px 20px #0000001A;
    font-size: 26px;
    font-family: "Tinos", sans-serif;
    margin-right: 30px;
    background-color: #fff;
    margin-top: -80px;
    padding: 0 15px;
}
.card__image {
    margin-bottom: 4px;
    margin-top: 42px;
}
.card__title{
    margin-bottom: 20px;
    color: #2C2C2C;
    font-weight: 400;
}
.card__title span {
    color: #BC9060;
}
.card__desc {
    color: #656363;
}